@font-face {
    font-family: 'myFirstFont';
    src: url('../font/BYekan.woff');
  }
  i{
      font-family: fontawesome !important;
  }

  
 h1 , h2 , h3 , h5 ,h6 , p {
    font-family: 'myFirstFont';
}
  /* header */

  .header{
    background: url('../img/header3.jpg')  center ;
    height: 150px;
  }
/* navbar */
body{
  /* background-color: #280e19 !important; */
}
ul li a{
    font-size: 17px;
    transition:all 0.5s ease ;
    -webkit-transition:all 0.75s ease ;
    -moz-transition:all 0.75s ease ;
    -ms-transition:all 0.75s ease ;
    -o-transition:all 0.75s ease ;
}
ul li a:hover{
    color:red !important;
    font-weight: bold;
}
ul li{
    padding-right: 20px;
}
nav{
    border-color: red;
}
.card{
    background-color: #4e342e;
}


/* body */
#myimg{
    width: 40px;
    border-radius: 60px;
    border: 1px solid red;
    
}
#body-j{
    background-image: url('../img/user.jpg');
   
}
.card{
    background-color:black;
}

.modal-1{
    margin-top: 100px;
    margin-bottom: 100px;
}

#cc{
    border: 1px solid red;
}

#ability-ul li{
  line-height: 100px;
}

#phoneMe{
    display: none;
}
 button .fixed{
   background-color: #924e0d !important;
 }
#emailMe{
    display: none;
}

#project-j{
    
    height: auto;
} 


/* phone */


.bg {
    float: center;
    background-image: url('http://demo.css-tricks.ir/off-canvas-menu-effect/img/iphone.png');
    width : 355px;
    height : 575px;
    margin-top : 0px;
    background-size: 100% 100%;
    
  }
  
  .container1 {
    position: relative;
    top : 82px;
    width : 255px;
    height: 410px;
    overflow : hidden;
    margin : 0 auto;
    background-color: #1b1b1b;
    border-radius: 3px;
  }
  
  .menulink {
    display : block;
    position: absolute;
    z-index : 999;
    top  : 10px;
    left : 10px;
    width : 30px;
    height : 30px;
  }
  
  .menulink:after , .menulink:before {
    display : block;
    content : ' ';
    position: absolute;
    background-color: #fff;
    top   : 0;
    left  : 0;
    right : 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
    
  }
  
  .menulink:before {
    width : 30px;
    height : 4px;
    animation : bounceIn 0.3s cubic-bezier(.64,.57,.67,1.53);
  }
  
  
  
  .menulink:after {
    width  : 4px;
    height : 30px;
    transition : 0.4s cubic-bezier(.64,.57,.67,1.53) all;
  }
  
  .active .menulink:after {
    transform : scaleY(0); 
    transition : 0.2s cubic-bezier(.64,.57,.67,1.53) all;
  }
  
  .content {
    /* background-color: red; */
    background-image: url('../img/site.JPG');
    background-position: center;
    background-size: 270px 410px;
    width : 100%;
    height: 100%;
    position: relative;
    font-family: 'Ropa Sans', sans-serif;
    color : #fff;
    padding : 50px 20px;
    line-height : 22px;
    box-sizing: border-box;
    transition : 0.3s .1s ease-out all;
  }
  .nav1 {
    position: absolute;
    top  : 0;
    left : 0;
  }
  
 
  
  
  
 
  
  
  
 
  
 
  
  
 
  
  
  
 
  
  
  
 
  
 
  
